<nav class="bg-[#001529] text-white px-6 py-4 flex justify-between items-center shadow-md">
    <div class="flex items-center space-x-3">
        <a routerLink="/dashboard" class="flex items-center">
            <img 
                src="assets/images/fbnlogo.png" 
                alt="FIRST BANK DRC" 
                class="h-8 w-auto object-contain hover:opacity-90 transition-opacity"
            >
        </a>
        FBN BANK DRC
    </div>


    <div class="flex items-center space-x-6">
        <div class="text-right hidden sm:block">
            <p class="text-sm font-semibold text-yellow-600"> {{username}} </p>
            <p class="text-sm font-semibold text-gray-300"> {{email}} </p>
        </div>
        <button (click)="logOut()"
            class="flex items-center space-x-2 bg-transparent border border-gray-500 hover:border-yellow-600 hover:text-yellow-600 px-4 py-2 rounded-lg text-sm transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
            <span>Déconnexion</span>
        </button>
    </div>
</nav>